<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rdx.works.wallet"
    tools:ignore="LockedOrientationActivity">

    <application
        android:name=".core.RadixApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RadixWallet">

        <activity
            android:name=".launcher.activities.LauncherActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".onboarding.activities.WelcomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".onboarding.activities.PersonalInformationActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".onboarding.activities.CredentialsActivity" />
        </activity>

        <activity
            android:name=".onboarding.activities.TermsOfServiceActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".onboarding.activities.WelcomeActivity" />
        </activity>

        <activity
            android:name=".onboarding.activities.CredentialsActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".onboarding.activities.TermsOfServiceActivity" />
        </activity>

        <activity
            android:name=".onboarding.activities.PinActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".onboarding.activities.PersonalInformationActivity" />
        </activity>

        <activity
            android:name=".onboarding.activities.ConfirmPinActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".onboarding.activities.PinActivity" />
        </activity>

        <activity
            android:name=".onboarding.activities.CreatingAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".dashboard.activities.DashboardActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
